tr {
  height: 40px;
  border-left: 3px solid rgb(255, 0, 128);
}

/* tbody tr:not(:last-child) {
  border-right: 1px solid rgb(10, 44, 44);
} */
/* tbody tr {
  border: 1px solid rgb(112, 29, 111);
} */
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: rgb(235, 235, 235);
}
