.online {
  width: 30px;
  height: 30px;
  background-color: rgb(10, 165, 10);
  border-radius: 50%;
}

.offline {
  width: 30px;
  height: 30px;
  background-color: rgb(239, 29, 29);
  border-radius: 50%;
}
/* avatar
name */
