.friend-list {
  margin-top: 80px;
  width: 400px;
}

.friend {
  background-color: #ffffff;
  padding: 20px 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: start;
  align-items: center;
}

.friend:hover,
.friend:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.friend:not(:last-child) {
  margin-bottom: 8px;
}
