.transaction-history {
  table-layout: fixed;
  margin-top: 80px;
  width: 640px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 40px;
  border-collapse: collapse;
}

.transaction-history:hover,
.transaction-history:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-head {
  font-size: 28px;
  text-transform: uppercase;
  background-color: rgb(85, 128, 165);
  color: #ffffff;
}
.table-head th:not(:last-child) {
  border-top: none;
  border-right: 1px solid #ffffff;
}
